#boards-row {
  padding: 1vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  .board {
    // border: 1px solid rgba(236, 240, 241, 1);
    .panel-heading {
      min-height: 60px;
      font-size: 20px;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      background: #34495E;
      color: #ECF0F1;

      span {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          display: none;

          cursor: pointer;
        }

        &:hover {
          i {
            display: block;
          }
        }
      }

      .panel-title {
        font-size: inherit;
      }
    }

    .panel-body {
      max-height: 700px;
      overflow: auto;
    }

  }
}

.board.create {
  .panel-body {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    > i {
      font-size: 20px;
    }

    &:hover {
      background: #ECF0F1;
      transition: 0.2s;
    }
  }
}
