#boards-row {
  padding: 1vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  .board {
    // border: 1px solid rgba(236, 240, 241, 1);
    .panel-heading {
      // border-color: red;
      background: #34495E;
      color: #ECF0F1;
    }

  }
}

.board.create {
  .panel-body {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    > i {
      font-size: 20px;
    }

    &:hover {
      background: #ECF0F1;
      transition: 0.2s;
    }
  }
}
