
.brand {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
}
.panel-heading {
  font-family: 'Varela Round', sans-serif;
}

.alertify, .alertify-logs {
  z-index: 999999;
}

i.material-icons {
  user-select: none;
}

.inline-input {
  // min-width: 20px;

  background: none;
  border: none;
  outline: none;

  color: inherit;
}

@import "./reset";
@import "./Header";
@import "./Boards";
@import "./Task";
