.task {
  margin: 5px 0;

  border: 1px solid rgba(0,0,0,.05);
  border-radius: 3px;

  padding: 5px 10px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .title {
    cursor: pointer;

    // &:hover {
    //   color: #16A085;
    //   transition: 0.2s;
    // }
  }

  .actions {
    // height: 100%;
    display: none;
  }

  &:hover {
    .actions {
      display: flex;
      align-items: center;
    }
  }
}

.task.completed {
  background: #ECF0F1;
  .title {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.task.create {
  display: flex;
  align-items: stretch;
  justify-content: center;

  cursor: pointer;

  .title {
    display: flex;
    align-items: center;
  }

  &:hover {
    background: #ECF0F1;
    transition: 0.2s;
  }
}
